$light: #f6f7ff;
$light_element: #c1c2ca;
$text: #1f1e25;
$background: #2c36f2;
$light_text: #e0e1ea;
$blue_background: #2027b3;
$blue: #3841ff;
$color: rgba(56, 65, 255, 0);
$white: #fff;
$grey: #707c87;

$desktop: 1366px;
$center: 918px;
$container: 1170px;
$input: 390px;
$button: 382px;
$small_button: 198px;
$input_height: 60px;
$small_button_height: 51px;
